<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
</head>
<div class="container">
    <div class="header">
        <h3 >Clients <i class="fa fa-angle-double-right"></i> {{action}}</h3>
    </div>
          <form name="newClient" class="form-horizontal">
              <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input ng-model="selectedClient.name" class="form-control" required>
                </div>
              </div>
              <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                  <input ng-model="selectedClient.description" class="form-control" required>
                </div>
              </div>
              <div class="form-group">
                <label for="type" class="col-sm-2 control-label">Type</label>

                <div class="col-sm-6">
                  <select ng-model="selectedClient.type" class="form-control" required>
                    <option>TRADING</option>
                    <option>IA</option>
                  </select>
                </div>
                <input type= "checkbox" ng-model="selectedClient.isDefault" ng-checked="selectedClient.isDefault == 'Y'" >
                <label for="isDefault" class="col-sm-2 control-label"> Default</label>
              </div>
 
              <div class=" pull-right" >
                <button type="button" class="btn btn-default" ng-click="go('#/')">Cancel</button>
                <button type="button" class="btn btn-primary" ng-disabled="newClient.$invalid" ng-show="edit" ng-click="editClient(selectedClient)"> Update</button>
                <button type="button" class="btn btn-primary" ng-disabled="newClient.$invalid" ng-show="add" ng-click="addClient(selectedClient)"> Create</button>
                <button type="button" class="btn btn-danger" ng-show="edit" ng-click="deleteClient(selectedClient.id)">Delete</button>
              </div>
          </div>
      </form>
</div>
