

<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a ng-href="#/addEditClient/add/me">New Client</a></li>
        </ul>
        <h3 >Clients </h3>
    </div>

    <div class="row">
        <div class="col-xs-4">
          <label for="search">Search:</label>
          <input ng-model="search" id="search" class="form-control" >
        </div>
        <div class="col-xs-4">
          <label for="search">Items per page:</label>
          <input class="form-control" ng-model="pageSize">
        </div>
    </div>
    &nbsp;&nbsp;
    <table class="table table-striped  ">
        <thead>

            <tr>
                <th class="id" custom-sort order="'id'" sort="sort">Id&nbsp;</th>
                <th class="name" custom-sort order="'name'" sort="sort">Name&nbsp;</th>
                <th class="description" custom-sort order="'description'" sort="sort">Description&nbsp;</th>
                <th class="type" custom-sort order="'type'" sort="sort">Type&nbsp;</th>
                <th class="isDefault" custom-sort order="'isDefault'" sort="sort">Default&nbsp;</th>

            </tr>
        </thead>

        <tbody>
            <tr  ng-click="editClient(item)" dir-paginate= "item in items | filter:search | itemsPerPage: pageSize | orderBy:sort.sortingOrder:sort.reverse" >
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.type}}</td>
                <td>{{item.isDefault}}</td>
            </tr>
        </tbody>
    </table>

    <strong>Total: {{items.length}} items</strong>
    <div class="pull-right">
        <dir-pagination-controls boundary-links="true" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
    </div>

</div>
